@import "./global.scss";

.app {
  height: 100vh;
  overflow-x: hidden;

  .seeCV {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;

    .icon {
      font-size: 40px;
      position: absolute;
      margin-top: 1%;
      margin-left: 95%;
      cursor: pointer;
      background-color: black;
      border-radius: 50%;
      color: white;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: white;
    position: relative;
    top: 70px;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* Reserve space for header plus some extra space for sneak peeking. */

    overflow-y: scroll;
    scrollbar-width: none; // for firefox
    &::-webkit-scrollbar {
      display: none; //chrome, safari
    }

    @include mobile {
      height: calc(100vh - 50px);
      top: 50px;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;

      @include mobile {
        height: calc(100vh - 50px);
      }
    }
  }
}
